@model Aplicativo_Efectivo_ltda.Models.Documento_FCT

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertarDocumentoFCT</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Documento_FCT</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.cod_doc, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cod_doc)
                    @Html.ValidationMessageFor(model => model.cod_doc)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.cod_sucursal_origen, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cod_sucursal_origen)
                    @Html.ValidationMessageFor(model => model.cod_sucursal_origen)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.cod_persona_remitente, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cod_persona_remitente)
                    @Html.ValidationMessageFor(model => model.cod_persona_remitente)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.date_fecha_doc, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date_fecha_doc)
                    @Html.ValidationMessageFor(model => model.date_fecha_doc)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.valor, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.valor)
                    @Html.ValidationMessageFor(model => model.valor)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.cod_empresa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cod_empresa)
                    @Html.ValidationMessageFor(model => model.cod_empresa)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
